{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__ADMIN__/js/mmgrid/mmGrid.css?v={$v}" />
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script src="__ADMIN__/js/wstgridtree.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/js/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/versionups/versionups.js" type="text/javascript"></script>
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
{/block}
{block name="main"}
<div class="wst-toolbar">
    <div class="f-left">
        <div id="pcat_0_box" class="f-left">
            <select id="status_0" class='ipt pgoodsCats' level="0">
                <option value="">-请选择状态-</option>
                <option value="1" selected >显示</option>
                <option value="0">隐藏</option>
            </select>
        </div>
        <button class="btn btn-primary" onclick="loadGrid(0)"><i class='fa fa-search'></i>查询</button>
    </div>
    {if WSTGrant('SJGLPZ_01')}
    <div class="wst-toolbar">
        <button class="btn btn-success f-right" onclick="javascript:location.href='<?=url("versionups/toEdit")?>'"><i class='fa fa-plus'></i>新增</button>
        <div style='clear:both'></div>
    </div>
    {/if}
    <div style="clear:both"></div>
</div>
<div class='wst-grid'>
    <div id="mmg" class="mmg layui-form"></div>
</div>
<div id="pg" style="text-align: right;"></div>
{/block}